/* General instructions for font, color, and background image */
body {
	color: #344152;
	margin: 50px;
	background: #FBFBEF;
}

/* General selector values */

/* Paragraph break height */
p {
	line-height: 1.4em;
}


/* Heading fonts and formats */



#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
	z-index: -100;
}
/* Margins and alignment for images in the content division */
#content img {
			padding: 1px;
			float: right;
			margin: 0 0 1em 1em;
		}
a {
	text-decoration: none;
}

/* Colors for linked text, before and after being clicked */
a:link {
	color: #1C86EE;
}

a:visited {
	color: #104E8B;
}


/* Page Layout */

#header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
	}

#content {
	margin-top: 10px;
	background: rgba(0, 0, 0, 0.5);
	color: #f1f1f1;
	width: 100%;
	padding: 20px;
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}

/* Layout for divisions containing images and their captions */
#picture {
	padding: 1px;
	float: right;
	text-align: center;
	font-size: 8pt;
	margin: 0 0 1em 1em;
}
/* Layout for divisions containing text blocks */
#text {
	padding: 10px;
	float: right;
	text-align: left;
	margin: 0 0 1em 1em;
}

/* Layout for alignment of footer */

#footer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	color: #344152;
	width: 100%;
	padding: 20px;
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.5);
}


#footer img {
	padding: 10px;
}

h2 {
	color: #0FB1DD;
	font-size: 4em;
	margin: 0;
	padding: 0.1em;
	padding-left: 1em;
	text-align: center;
	font-weight: plain;
}

h6 {
	color: #344152;
	margin: 0;
	padding: 0.1em;
	padding-left: 1em;
	text-align: center;
	font-weight: plain;
}
